include db/base/variables.pug
include db/mixins/mixins.pug

block vars
	
doctype html
html(lang="en")
	head
		block head
			meta(charset=charset)
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			meta(name="author", content=head_author)
			meta(name="description", content=head_desc)
			meta(name="keywords", content=head_keywords)
			//- link(rel="icon", href=cdn+"favicon.ico")
			title #{title}
			// Core Styles
			link(href=sub_page + app_styles, rel='stylesheet' type="text/css")
	body(class="content" + " " + direction)
		include db/header2.pug
		div.page
			include db/sidebar-v2.pug
			div.page__content
				block page_content
		// Necessary Plugins
		script(src=sub_page + app_js)
		block scripts
		script(src=sub_page + custom_js)